<footer class="bg-light text-center py-4 mt-5">
  <div class="container">
    <p>Connect with me:</p>
    <a href="https://github.com/Lluc24" target="_blank" class="mx-2">
      <img src="assets/icons/github.svg" alt="GitHub" width="30">
    </a>
    <a href="https://linkedin.com/in/lluc-santamaria" target="_blank" class="mx-2">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" width="30">
    </a>
    <a href="https://devpost.com/lluc-santamaria" target="_blank" class="mx-2">
      <img src="assets/icons/devpost.svg" alt="DevPost" width="30">
    </a>
  </div>
</footer>